APP_NAME = Research Gourp Management API
ENVIRONMENT = development

DATABASE_URL = mysql+pymysql://root:your_password@localhost:3306/research_management
SECRET_KEY = change_this_to_a_long_rondom_secret
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 60
REFRESH_TOKEN_EXPIRE_DAY = 7
